{% load tags %}

<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>
    {% if instance %}
    {{ instance.title }}
    {% else %}
    New Dashboard
    {% endif %}
  </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}cartoview/img/icon.png"/>
    <!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Object.assign"></script> -->
    <!-- <link rel="stylesheet" href="https://boundlessgeo.github.io/sdk/dist/css/components.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <!-- <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" > -->

    <link rel="stylesheet" href="{{STATIC_URL}}dashboard/css/dashboard.css?v={{dbv}}" >

</head>
<body>
  <div class="container">
    <div class="row" id="dash"></div>
  </div>
  <form id="csrf-form">
    {% csrf_token %}
  </form>
    <!-- <script src="{{ STATIC_URL }}dashboard/node_modules/react/dist/react.js"></script>
    <script src="{{ STATIC_URL }}dashboard/node_modules/react-dom/dist/react-dom.js"></script> -->
    <!-- <script src="https://boundlessgeo.github.io/sdk/dist/js/full.js"></script> -->
    <script src="{{ STATIC_URL }}dashboard/dist/commons.js?v={{dbv}}"></script>
    <script src="{{ STATIC_URL }}dashboard/dist/dashboard.bundle.js?v={{dbv}}"></script>
    <script src="{{ STATIC_URL }}dashboard/dist/wps-client.bundle.js?v={{dbv}}"></script>
    <script src="{{ STATIC_URL }}dashboard/dist/map-widget.bundle.js?v={{dbv}}"></script>
    <script src="{{ STATIC_URL }}dashboard/dist/aggregate-widget.bundle.js?v={{dbv}}"></script>
    <script src="{{ STATIC_URL }}dashboard/dist/charts-widget.bundle.js?v={{dbv}}"></script>
    <script src="{{ STATIC_URL }}dashboard/dist/markdown-widget.bundle.js?v={{dbv}}"></script>
    <script src="{{ STATIC_URL }}dashboard/dist/legend-widget.bundle.js?v={{dbv}}"></script>
    <script src="{{ STATIC_URL }}dashboard/dist/identify-widget.bundle.js?v={{dbv}}"></script>
    <script type="text/javascript">
    var props = {};
    //{% if instance %}
    var isNew = false;
    props = {{ instance.config | safe }};

    props.id = "{{ instance.id | safe }}";
    props.title = {{ instance.title | dump_json }};
    props.abstract = {{ instance.abstract | dump_json }};
    props.isOwner = {% if request.user == instance.owner %} true {% else %} false {% endif %};
    //{% else %}
    var isNew = true;
    props.widgets = {};
    props.layout = {
      rows: [
        {
        columns: [{
          className: 'col-md-12',
          widgets: [],
        }],
      },
      {
        columns: [{
          className: 'col-md-8',
          widgets: [],
        },
        {
          className: 'col-md-4',
          widgets: [],
        }],
      },
      {
        columns: [{
          className: 'col-md-6',
          widgets: [],
        },
        {
          className: 'col-md-6',
          widgets: [],
        }],
      },
      {
        columns: [{
          className: 'col-md-4',
          widgets: [],
        },
        {
          className: 'col-md-8',
          widgets: [],
        }],
      },
      {
        columns: [{
          className: 'col-md-4',
          widgets: [],
        },
        {
          className: 'col-md-4',
          widgets: [],
        },
        {
          className: 'col-md-4',
          widgets: [],
        }],
      }
    ],
    };
    //{% endif %}

    //{% if editable %}
    props.editable = true;
    //{% endif %}

    props.ref = function(d){
      window.mainDashbord = d;
    };
    props.isNew = isNew;
    console.debug(props)

    {% if PROXY_URL %}
        const PROXY_URL='{{PROXY_URL}}'
    {% else %}
        const PROXY_URL=null
    {% endif %}

    var URLS = {
      geoserver: "{{ GEOSERVER_BASE_URL }}",
      proxy: PROXY_URL,
      static: "{{ STATIC_URL }}",
      media: "{{ MEDIA_URL }}",
    };

    function getMapConfigUrl(id){
      return "/maps/" + id + "/data"
    }
    function getRestData(url){
      return fetch(url, {
        credentials: 'include',
      }).then(res=>res.json());
    }
    function getMapsData(){
      return getRestData('{% url 'api_dispatch_list' api_name='api' resource_name='maps' %}');
    }
    function getLayersData(){
      return getRestData( '{% url 'api_dispatch_list' api_name='api' resource_name='layers' %}');
    }
    function getAttributesData(typename){
      return getRestData('{% url 'api_dispatch_list' api_name='api' resource_name='attributes' %}?layer__typename=' + typename);
    }
    function addWidget(){
      mainDashbord.showAddWidgetDialog();
    }
    function saveDashboard(config){
        var csrfForm = document.getElementById("csrf-form");
        var formData = new FormData(csrfForm);
        Object.keys(config).forEach(function(key){
          formData.append(key, config[key]);
        });
        fetch("", {
          credentials: 'include',
          method: 'POST',
          body: formData
        }).then(function(response) {
          if(response.status == 200){
            response.json().then(function(resJson){
              if(resJson.success){
                if(isNew) window.location = "../" + resJson.id + "/edit/";
              }
            });
          }
        });
    }
    var dash = React.createElement(Dashboard, props);
    ReactDOM.render(dash, document.getElementById("dash"));
    </script>

</body>
</html>
